h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.SearchBar-container.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh; /* Adjusts to place the search bar slightly above center */

}

.SearchBar-container.top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  right: 20px;
  height: auto;
}

.SearchResults {
  transition: max-height 0.5s ease, transform 0.5s ease; /* Smooth transition for height and movement */
  column-count: 3; /* Default number of columns */
  column-gap: 20px; /* Spacing between columns */
  max-height: calc(100vh - 150px); /* Default max height */
  overflow-y: auto; /* Enable vertical scrolling for overflowing content */
}

.SearchResults.active {
  max-height: calc(50vh); /* Reduce height when playlist is active */
  transform: translateY(0); /* Reset any movement */
}

.SearchResults.disactivated {
  max-height: calc(100vh - 150px); /* Full height when playlist is hidden */
  transform: translateY(0); /* Optional: Adjust movement if needed */
}

.SearchResults-item {
  break-inside: avoid; /* Prevent items from breaking between columns */
  margin-bottom: 15px; /* Space between items */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggle-button {
  transition: all 0.3s ease-in-out; /* Adjust timing and easing function as needed */
}

.toggle-button.has-tracks {
  position: absolute;
  bottom: 165px;
  right:10px;
  display: block;
}


.toggle-button.no-tracks {
  display: none;
}


.toggle-button.has-tracks.not-visible {
  bottom: 40px;
}
